
body{
    text-align: center;
    font-size: medium;
    background-color: rgb(226, 229, 255);
}
.tit{
    border:0;
    color: rgb(19, 44, 145);
    font-weight: bold;
    }
.par{
    color: rgb(36, 97, 228);
    font-weight: 500;
}
.btn{
    background-color: rgb(215, 221, 255);
    color: rgb(1, 6, 72);
}
.hr{
    border: 0;
    height: 2px;    
    background-image: linear-gradient(to right, transparent, rgb(43, 116, 226), transparent);  
}
#tabelinha{ 
    display: inline-block;
    text-align: justify;
    font-size: large;
    font-weight: 500;
    color: rgb(1, 6, 72);
}